name: Deploy to Github repository

on:
  push:
    branches: 
      - master
  # pull_request:
    # branches: [ master ]

jobs:
  firebase-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with: 
          node-version: 12.x

      - run: npm install
      - run: npm run build
      - uses: w9jds/firebase-action@master
        with: 
          args: deploy --only hosting 
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          H_TOKEN: ${{ secrets.GH_TOKEN }}



  # build-and-deploy:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v2

  #   - name: Use Node.js 12.x
  #     uses: actions/setup-node@v1
  #     with: 
  #         node-version: 12.x

  #   - name: Prepare and deploy
  #     env:
  #       GH_TOKEN: ${{ secrets.GH_TOKEN }}
  #     run: |
  #       npm ci
  #       npm run ng deploy

      # run: |
      #   docker run \
      #   -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
      #   jekyll/builder:latest /bin/bash -c "chmod 777 /srv/jekyll && jekyll build --future"
